<!doctype html>
<html>

<head>
    <title>Bar Chart</title>
    <script src="/scripts/Chart.bundle.js"></script>
    <script src="/scripts/utils.js"></script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
    <div id="container" style="width: 75%;">
        <canvas id="canvas"></canvas>
    </div>
  <br>Local: {{address}}</br>
    <br>Horario: {{date}}</br> <br>
    <script>
        var color = Chart.helpers.color;
        var barChartData = {
            labels: [""],
            datasets: [{
                label: 'Temperature',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1,
                data: [{{temperature}}
                ]
            }, {
                label: 'Humidade',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [{{humidity}}
                ]
            }]

        };

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Temperature and Humidity '
                    },
                     scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
    }
                }
            });

        };

    setTimeout(function() { window.location=window.location;},{{seconds}});
               

    </script>
</body>

</html>

